@import './variaveis.scss';

$body-bg-dark: $cor-preta-6;
$font-family-sans-serif: Barlow, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$primary: $cor-verde-1;
$secondary: $cor-roxa-3;
$dark: $cor-preta-6;
$light: $cor-preta-0;

$headings-font-weight: $font-weight-preta;

$btn-font-weight: var(--font-weight-regular);
$btn-font-size-lg: 1.5rem;
$btn-border-radius: 0.25rem;
$btn-border-radius-lg: 0.25rem;
$btn-active-bg-shade-amount: 50%;
$btn-active-bg-tint-amount:  50%;

$nav-link-font-size: 1.25rem;
$nav-link-font-weight: $font-weight-light;

$badge-font-weight: $font-weight-regular;
$badge-font-size:.75rem;
$badge-color: $cor-preta-6;
$badge-border-radius: 9999em;

$card-title-color: $cor-preta-1;
$card-border-width: 0;
$card-height: 100%;

$toast-border-width: 0;

$modal-content-bg: $cor-preta-5;

$carousel-dark-indicator-active-bg:  $cor-preta-1;
$carousel-dark-control-icon-filter:  invert(0) grayscale(0);

$dropdown-link-active-color: $cor-preta-6;

@import 'bootstrap/scss/bootstrap';