@import './variaveis.scss';

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

body{
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(16,16,16,1) 100%);
    background-repeat:no-repeat;
    background-size: 100% 200px;
}

.main{
    min-height: calc(100svh - 74px);

    @media (min-width: 992px) {
        min-height: calc(100svh - 78px);
    }
}

.bi{
    vertical-align: -.125em;
}

.Toastify__toast{
    background: $cor-verde-1!important;
    color: $cor-preta-6!important;
    font-family: $font-barlow!important;
    font-weight: $font-weight-regular!important;
}