@import './variaveis.scss';

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

.main{
    min-height: calc(100svh - 74px);

    @media (min-width: 992px) {
        min-height: calc(100svh - 78px);
    }
}

.bi{
    vertical-align: -.125em;
}

.Toastify__toast{
    background: $cor-verde-1!important;
    color: $cor-preta-6!important;
    font-family: $font-barlow!important;
    font-weight: $font-weight-regular!important;
}